<h2>Ingrese numero del bloque:</h2>
<input [(ngModel)]="blockId" placeholder="Numero">

<button mat-button (click)="getBlockData()">Buscar</button>

<div *ngIf="specBlock">
    <h1>Bloque Encontrado</h1>
    <p>Hash: {{specBlock.hash}}</p>
    <p>Minero: {{specBlock.miner}}</p>
    <p>Dificultad: {{specBlock.difficulty}}</p>
</div>