<h2>Ingrese Identificador de Cuenta</h2>
<mat-form-field>
    <input matInput [(ngModel)]="ident" placeholder="Identificador de Cuenta">
</mat-form-field>
<button (click)="getSaldo()" mat-raised-button color="primary">Consultar</button>

<div *ngIf="saldo">
  <mat-divider></mat-divider>
  <h2>El saldo de esta cuenta es: {{saldo.balance}}</h2>

</div>