<mat-toolbar color="secondary">
  <img src="../assets/OptiLogo.png">
  <button routerLink="MainView" mat-button> Home </button>
  <mat-menu #appMenu="matMenu">
    <button routerLink="netStatus" mat-menu-item>Network Status</button>
    <button routerLink="BlockData" mat-menu-item> Bloques </button>
    <button mat-menu-item> Transacciones </button>
    <button mat-button routerLink="SmartContract" >Smart Contracts</button>
  </mat-menu>
  <mat-menu #appMenu2="matMenu">
    <button routerLink="Producto" mat-menu-item>Producto</button>
    <button routerLink="Balance" mat-menu-item>Balance</button>  </mat-menu>

  <button mat-button 
  [matMenuTriggerFor]="appMenu2"
  matTooltip="Opciones relacionadas con el MarketPlace"
  [matTooltipHideDelay]="250"
  [matTooltipShowDelay]="125"
  >
     MarketPlace
  </button>

  <button mat-button 
  [matMenuTriggerFor]="appMenu"
  matTooltip="Opciones relacionadas con BlockChain"
  [matTooltipHideDelay]="250"
  [matTooltipShowDelay]="125"
  >
     BlockChain
  </button>
  <button mat-button >Contacto</button>



</mat-toolbar>
