<h2>Ingrese Identificador de Contrato</h2>
<input [(ngModel)]="id.address" placeholder="identificador de contrato">
<button (click)="getContract()" mat-button>Aceptar</button>

<div *ngIf="contrato">
  <h2>Opciones disponibles en el contrato</h2>
  <ul *ngFor="let opcion of contrato?.options?.jsonInterface">
    <li>{{opcion.name}}</li>
  </ul>
</div>