<h2>Producto nombre:{{producto.name}}</h2>
<h3>Precio: {{producto.value}}</h3>


<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Comprar
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
            <input type="password" matInput [(ngModel)]="password" placeholder="Ingrese su contraseña">
    </mat-form-field>
</mat-expansion-panel>
<button (click)="buySwag()" mat-raised-button color="primary">Confirmar</button>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>